{%- for e in outline.enums() %}
/// ## {{ e.localized_name }}
///
/// {{ e.desc }}
export enum {{ e.name }} {
{%- for v in e.variants %}
    /// ### {{ v.localized_name }}
    ///
    /// {{ v.desc }}
    {{ v.name }} = "{{ v.name }}",
{%- endfor %}
}
{%- endfor %}
