{%- for e in outline.enums() %}

/// ## {{ e.title() }}
///
/// {{ e.desc }}
enum class {{ e.name() }} {
    {%- for m in e.members() %}

    /// ### {{ m.title() }}
    ///
    /// {{ m.desc() }}
    @SerialName("{{ m.name() }}") {{ m.name()|constantize }},
    {%- endfor %}
}
{%- endfor %}

{%- for interface in outline.interfaces() %}
/**
 * **{{ interface.title() }}**
 *
 * {{ interface.desc() }}
 */
@Serializable
data class {{ interface.name() }}{{ interface.generics_declaration() }}(
{%- for field in interface.fields_optional_at_last() %}
    val {{ field.name()|escape_kotlin }}: {{ lookup.call(field.type().unwrap_optional()).unwrap()|type_annotation_kotlin }}{%- if field.type().is_optional() || interface.is_output_result() %}? = null{%- endif %},
{%- endfor %}
)
{%- endfor %}

