{%- for e in outline.enums() %}
{%- if e.members().len() > 0 %}
/// ## {{ e.title() }}
///
/// {{ e.desc }}
public enum {{ e.name() }}: String, Codable {
    {%- for m in e.members() %}

    /// ### {{ m.title() }}
    ///
    /// {{ m.desc() }}
    case {{ m.name() }} = "{{ m.name() }}"
    {%- endfor %}
}
{%- endif %}
{%- endfor %}

{%- for path_argument in outline.path_arguments() %}
@Serializable
public class {{ path_argument.name() }}: Codable {
    {%- for item in path_argument.items() %}
    public let {{ item|escape_swift }}: String
    {%- endfor %}
    public init(
    {%- for item in path_argument.items() %}
        {{ item|escape_swift }}: String{% if !loop.last %},{% endif %}
    {%- endfor %}
    ) {
    {%- for item in path_argument.items() %}
        self.{{ item }} = {{ item|escape_swift }},
    {%- endfor %}
    }
}
{%- endfor %}

{%- for interface in outline.interfaces() %}
{%- if interface.fields_optional_at_last().len() > 0 %}
/**
 * **{{ interface.title() }}**
 *
 * {{ interface.desc() }}
 */
@Serializable
public class {{ interface.name() }}{{ interface.generics_declaration() }} : Codable{{ where_codable(interface) }} {
{%- for field in interface.fields_optional_at_last() %}
    public let {{ field.name()|escape_swift }}: {{ lookup.call(field.type().unwrap_optional()).unwrap() }}{%- if field.type().is_optional() || interface.is_output_result() %}?{%- endif %},
{%- endfor %}
    public init(
    {%- for field in interface.fields_optional_at_last() %}
        {{ field.name()|escape_swift }}: {{ lookup.call(field.type().unwrap_optional()).unwrap() }}{% if field.type().is_optional() || interface.is_output_result() %}?{% endif %}{%- if !loop.last %},{% endif %}
    {%- endfor %}
    ) {
    {%- for field in interface.fields_optional_at_last() %}
        self.{{ field.name() }} = {{ field.name()|escape_swift }}
    {%- endfor %}
    }
}
{%- endif %}
{%- endfor %}