impl ExtractFromCallbackParam for {{ class.name }} {
    fn extract(param: &CallbackParam) -> Self {
        Self { inner: param.object.clone() }
    }
}

impl ExtractFromCompareParam for {{ class.name }} {
    fn extract(param: &CompareParam) -> Self {
        Self { inner: param.object.clone() }
    }
}

impl ExtractFromCallbackParam for Teo {
    fn extract(param: &CallbackParam) -> Self {
        Self { user_ctx: param.user_ctx.clone() }
    }
}

impl ExtractFromCompareParam for Teo {
    fn extract(param: &CompareParam) -> Self {
        Self { user_ctx: param.user_ctx.clone() }
    }
}

impl From<UserCtx> for Teo {
    fn from(value: UserCtx) -> Self {
        Self { user_ctx: value }
    }
}
