{% for delegate in outline.delegates %}
declare class {{ delegate.model_name }}Delegate {
{%- for action in delegate.actions %}
    {{ action.name }}<T extends {{ delegate.model_name }}{{ action.name|capitalize_first }}Args>(args?: T): Promise<{{ action.response }}>
{%- endfor %}
}
{% endfor %}

declare class {{ conf.class_name() }} {
{% for delegate in outline.delegates %}
    /**
     * ## {{ delegate.model_localized_name }}
     *
     * {{ delegate.model_description }}
     *
     */

{% endfor %}
}


